<div class="profile">
    <div class="profile-image">
        <% if (theme.profile.image) {%>
            <img src="<%= url_for(theme.profile.image)%>" alt="featured_image">
        <% } %>  
    </div>
    <div class="post-content profile-content">
        <div class="profile-title">
            🕸 What's WebSecurityClass? 🕸
        </div>
        <div class="profile-body">
            <%=theme.profile.description%>
        </div>
        <div class="profile-title">
            <a href="https://docs.google.com/document/d/1TQdDSg5UxOTd921etxHpi26TO-_0fW9X4wm_19ZiI5o/edit?usp=sharing">🧭 Syllabus: 🧭</a> 
        </div>
        <div class="profile-body">
            <div class="profile-link">
                <ol>
                    <li> Introduction.</li> 
                        <ul>
                        </ul>
                    <li> Web Today!</li>
                        <ul>
                            <li><a href="/web.today/cookies">Cookies. ☑️</a></li>
                        </ul>
                    <li> Application flaws.</li>
                        <ul>
                        </ul>
                    <li> Browser Internals</li>
                        <ul>
                            <li><a href="/browser/custom.browser">How to build a browser on top of chromium. ☑️</a></li>
                            <li><a href="/browser/web.to.app">Web-to-App Communication Overview. ☑️</a></li>
                        </ul>
                    <li> V8 (Low Level)</li>
                        <ul>
                        </ul>
                    <li> Advanced Topics</li>
                        <ul>
                            <li><a href="/advanced/web.tracking">Web Tracking. ☑️</a></li>
                        </ul>
		    <li> Incoming Web Features</li>
                        <ul>
                            <li><a href="/incoming/storage.partitioning">Storage Partitioning. ☑️</a></li>
			</ul>
                </ol>
            </div>
        </div>
        <div class="profile">
        </div>
        <div class="profile-body">
            Author 🫶🏽: <a href="https://twitter.com/alberto_fdr" target="_blank">@bubu</a>
        </div>
    </div>
    
</div>
